*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100%;
}
h1, h2{
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    transform: rotate(-10deg);
    text-align: right;
}
h1{
    margin-top: 8%;
    font-size: 4em;
    font-weight: 900;
}
p{
    font-family: 'Roboto';
    font-weight: 700;
    position: fixed;
    bottom: 0;
    margin:5%;
    margin-left: 31%;
    margin-right: 30%;
    border: black 3px solid;
    padding: 10px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: rgb(204, 23, 23);
}